<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="push" [ngStyle]="{width: '250px'}">
    <mat-toolbar color="primary">
      <span>Menu</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      @for (
      item of sidebarItems; track $index ) {
      <mat-list-item [routerLink]="item.url" (click)="sidenav.toggle()">
        {{item.label}}
        <mat-icon matListItemIcon>{{item.icon}}</mat-icon>
      </mat-list-item>
      }
    </mat-nav-list>

  </mat-sidenav>

  <!-- Add the css class .spacer { flex: 1 1 auto } -->
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="spacer"></span>
    <span>{{user?.usuario}}</span>
    <button mat-button (click)="onLogout()">
      Logout
    </button>

  </mat-toolbar>

  <div class="container p-2">
    <router-outlet></router-outlet>

  </div>

</mat-sidenav-container>